*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 90%, 30%);
}

:root{
    --hue-neutral: 300;
    --hue-wrong: 5;
    --hue-correct: 155;
}

body.correct{
    --hue: var(--hue-correct);
}

body.wrong{
    --hue: var(--hue-wrong); 
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: azure;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 15px 3px;
}

.answer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 90%, 60%);
    border: 2px solid hsl(var(--hue), 90%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: azure;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong)
}

.start, .next{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

#control{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hide{
    display: none;
}